SQL_CONNECTION=
AZURE_CLIENT_ID=
IDENTITY_INGEST_NAME=
IDENTITY_INGEST_OBJECT_ID=
IDENTITY_PROCESSING_NAME=
IDENTITY_PROCESSING_OBJECT_ID=
IDENTITY_MANAGEMENT_NAME=
IDENTITY_MANAGEMENT_OBJECT_ID=
IDENTITY_PORTAL_NAME=
IDENTITY_PORTAL_OBJECT_ID=
IDENTITY_REPORTING_NAME=
IDENTITY_REPORTING_OBJECT_ID=
DEVELOPER_PRINCIPALS=
SEED_DEMO_DATA=true
ADMIN_PASSWORD=
CUSTOMER_PASSWORD=
